
importFrom("stats", "runif", "var", "optim", "simulate",
           "coef", "lm", "optimHess", "vcov", "logLik","pchisq")
importFrom("graphics", "axis", "legend", "lines", "contour", "persp")
S3method(plot,mleHse)
S3method(vcov,mleHse)
S3method(logLik,mleHse)
S3method(expValHse,mleHse)
S3method(expValHse,default)
S3method(varHse,mleHse)
S3method(varHse,default)
S3method(simulate,mleHse)

# Export everything.
exportPattern("*")
